@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  
     --color-primary: #6B4F96;  
    --color-secondary: #3B4A7D; 
    --color-accent: #4BD9D9; 
     --font-main : "Roboto", sans-serif;
}